# pytorch 는 각자의 환경에 맞는 것으로 세팅하세요
# ex. pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118

accelerate==0.19.0
datasets==2.12.0
numpy==1.24.3
pandas==2.0.2
peft==0.3.0
sentencepiece==0.1.99
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchvision==0.15.2+cu118
tqdm==4.65.0
transformers==4.28.0
uvicorn==0.22.0
streamlit==1.23.1
streamlit-chat==0.0.2.2
fastapi==0.97.0
